<div id="user_menu">
<table border="0" width="100%">
<tr>
    <td>
        <a href="index.php"><img src="<{$gtd_imagePath}>main.png" alt="<{$smarty.const._GTD_MENU_MAIN}>" /></a><a href="index.php"><{$smarty.const._GTD_MENU_MAIN}></a>
    </td>
    <td>
        <a href="addTicket.php"><img src="<{$gtd_imagePath}>addTicket.png" alt="<{$smarty.const._GTD_MENU_LOG_TICKET}>" /></a><a href="addTicket.php"><{$smarty.const._GTD_MENU_LOG_TICKET}></a>
    </td>
    <td>
        <a href="index.php?viewAllTickets=1"><img src="<{$gtd_imagePath}>ticket.png" alt="<{$smarty.const._GTD_MENU_ALL_TICKETS}>" /></a><a href="index.php?op=userViewAll"><{$smarty.const._GTD_MENU_ALL_TICKETS}></a>
    </td>
</tr>
</table>
</div>